@import '../../../../styles/variables.scss';
@import '../../../../styles/common.scss';

.newComments {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .commentsInput {
    display: flex;
    margin-left: 15px;
    margin-top: 5px;

    .userName {
      margin-right: 5px;
      font-size: 15px;
      font-weight: $weight-semi-bold;
    }

    .userTalk {
      font-weight: $weight-thin;
    }
  }
  .icon {
    margin-right: 15px;
    color: $color-dark-gray;
  }
}

.leftBox {
  .commentsArticle {
    font-weight: 300;
  }
}
