@import '../../../../styles/variables.scss';
@import '../../../../styles/common.scss';

.newComments {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .commentsInput {
    display: flex;
    margin-left: 15px;
    margin-top: 5px;

    .userName {
      margin-right: 5px;
      font-size: 15px;
      font-weight: $weight-semi-bold;
    }

    .userTalk {
      font-weight: $weight-thin;
    }

    .newUserName {
      margin-right: 5px;
      font-size: 15px;
      font-weight: $weight-semi-bold;
    }

    .newUserTalk {
      font-weight: $weight-thin;
    }
  }
  .icon {
    margin-right: 15px;
  }

  // .fas.fa-heart {
  //   color: red;
  // }
}

.leftBox {
  .commentsArticle {
    font-weight: 300;
  }
}
