.CommentsHyeri {
  .comments {
    height: 17px;
    position: relative;
  }

  .likeComment {
    margin-left: 4px;
    font-size: 13px;
  }

  .bold {
    font-weight: bold;
  }

  .dot {
    font-size: 13px;
  }

  .commentAdd {
    margin-left: 19px;
    margin-top: 5px;
  }
}

.leftBox {
  .commentsArticle {
    font-weight: 300;
  }
}
