@import '../../../../styles/variables.scss';
@import '../../../../styles/common.scss';

.story1Text2 {
  color: $color-black;
  margin-right: 15px;
  margin-top: 3px;
  font-size: $font-small;
  outline: none;
  border: none;
  background: none;
}

.commentId {
  margin-left: 15px;
  font-weight: $weight-semi-bold;
  font-size: $font-regular;

  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.commentChatter {
  margin-left: 8px;
  font-weight: $weight-thin;
  font-size: $font-medium;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.myProfileLogo {
  @include story-line-gradient;
  width: $size-profileIcon-smallWrap;
  height: $size-profileIcon-smallWrap;
  margin: 10px;
}

.myProfileLogoText {
  margin-left: 10px;
  margin-top: 20px;
  color: $color-black;
  font-size: $font-medium;
  font-weight: $weight-semi-bold;
}

.profileBox {
  width: $size-nav-icon;
  height: $size-nav-icon;
  border: 1px solid $color-black;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.divFeeds {
  width: 614px;
  background-color: $color-white;
  margin-top: 60px;
  border: 1px solid $color-gray;
  border-radius: 3px;

  .article {
    width: 614px;

    .articleNav {
      width: 614px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-gray;

      .bigUserName {
        display: flex;
      }

      .dot {
        margin: 16px;
        width: $size-feed-icon;
        height: $size-feed-icon;
      }
    }
  }
}

.mainPictureInput {
  width: 614px;
  height: 614px;

  .mainPicture {
    width: 614px;
    height: 614px;
    @include flexCenter;

    .mainPictureContents {
      width: 614px;
      height: 614px;
      margin-top: -2px;
      margin-left: -2px;
      width: 100%;
    }
  }
}

.MainStatus {
  .statusLeft {
    flex-direction: row;
    @include flexSpaceBetweenCenter;

    .statusRight {
      margin-left: 10px;

      .paper {
        margin-bottom: 6px;
        margin-left: 5px;
      }

      img {
        margin: 5px;
        width: $size-feed-icon;
        height: $size-feed-icon;
      }
    }

    .statusRightBookMark {
      width: $size-feed-icon;
      height: $size-feed-icon;
      margin-right: 10px;
    }
  }
}

.likeNum {
  margin-left: 15px;
  font-weight: $weight-semi-bold;
  font-size: $font-regular;

  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.commentInput {
  margin-top: 5px;
}

.textCommentNum {
  margin-top: 3px;
  margin-left: 15px;
  font-weight: $weight-regular;
  font-size: $font-regular;
  color: $color-dark-gray;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.reply {
  padding-right: 16px;

  .textCommentGrop {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
}

.FeedtextHour {
  margin: 15px;
  margin-left: 15px;
  margin-top: 5px;
  font-weight: $weight-regular;
  font-size: $font-micro;
  color: $color-dark-gray;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  width: 614px;
  height: 56px;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;

  .buttonInput {
    width: 500px;
    height: 35px;
    border: 0 solid $color-black;
    margin-top: 10px;
    margin-left: 13px;
    outline: none;
    border: none;
  }

  &::placeholder {
    font-size: $font-regular;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

  .buttonPost {
    margin-right: 20px;
    border: 0;
    outline: 0;
    color: $color-inAction-blue;
    font-size: $font-regular;
    background: none;
    font-weight: $weight-bold;
  }
}
