@import '../../../styles/variables.scss';
@import '../../../styles/common.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  @include flexCenter;
  background: $color-light-gray;
}

#loginBtn {
  width: 350px;
  height: 40px;
  background: $color-inAction-blue;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  color: $color-white;
  font-weight: $weight-bold;
}

.bottomText {
  margin-top: 80px;
  color: $color-indigo;
}
