@import '../../../styles/variables.scss';

.main {
  .mainTitle {
    width: 100vw;
    height: 100%;
    background-color: $color-light-gray;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 300px;
  }
}
