@import '../../../../styles/variables.scss';

.comment {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;

  .content {
    font-size: $font-small;

    .authorId {
      margin-right: 4px;
      font-weight: $weight-bold;
    }
  }

  .heartBtn {
    .btnIcon {
      width: 12px;
      height: 12px;
    }
  }
}
