@import '../../../../styles/variables.scss';

.comment {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;

  .content {
    font-size: $font-small;

    .authorId {
      margin-right: 4px;
      font-weight: $weight-bold;
    }
  }

  .btns {
    button {
      .icon {
        vertical-align: middle;
        width: 12px;
        height: 12px;
        margin: 0 4px;
      }
    }

    .trashBtn {
      visibility: hidden;
    }
  }
}

.comment:hover .trashBtn {
  visibility: visible;
}
